@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

html{
    @apply
    tracking-widest    
    text-lg
    font-space    
    font-semibold

}

body{    

    @apply 
    bg-[url("./assets/bg-main-mobile.png")]
    bg-no-repeat
    bg-[length:100%_250px]
    lg:bg-[url("./assets/bg-main-desktop.png")]
    lg:bg-[length:33%_100vh]

    /* 
    lg:bg-[url('./assets/bg-main-desktop.png')]
    lg:bg-[length:30%_100vh] */

}